$marginIcon: 0 1rem 0 0;
$paddingCard: 1rem 1.5rem 1rem 1.5rem;
$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

.Card {
    margin-top: 2rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 20px;
    transition: color 0.15s ease, border-color 0.15s ease;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.29);
    background-color: #ffff;
    width: 100%;

    .top {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #e3e3e3;
        padding: $paddingCard;

        .inputTitle {
            background-color: transparent;
            border: none;
            width: 100%;
            font-size: 1rem;
            font-weight: bold;
            font-family: $fontFamily;
        }
    }

    .content {
        padding: $paddingCard;
        word-break: break-all;

        .inputContent {
            background-color: transparent;
            border: none;
            font-size: 1rem;
            width: 100%;
            font-family: $fontFamily;
        }

        p {
            text-align: justify;
            margin: 0;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .bottom {
        padding: $paddingCard;

        .deleteIcon {
            float: right;
        }

        .bottomIcon {
            margin: $marginIcon;
            &:hover,
            &:focus,
            &:active {
                color: #777171;
                border-color: #7a7676;
            }
        }

        button {
            background-color: transparent;
            border: none;
            padding: 0;
        }
    }

    h2 {
        margin: 0 0 0 0;
        font-size: 1rem;
    }
}

.Card:first-child {
    margin: 1rem 0 0 0;
}

.Card:last-child {
    margin-bottom: 2rem;
}

.bae2ff {
    background-color: #bae2ff;
}

.b9ffdd {
    background-color: #b9ffdd;
}

.ffe8ac {
    background-color: #ffe8ac;
}

.ffcab9 {
    background-color: #ffcab9;
}

.f99494 {
    background-color: #f99494;
}

.B9dd6ff {
    background-color: #9dd6ff;
}

.eca2ff {
    background-color: #eca2ff;
}

.daff8b {
    background-color: #daff8b;
}

.ffa285 {
    background-color: #ffa285;
}

.cdcdcd {
    background-color: #cdcdcd;
}

.G979797 {
    background-color: #979797;
}

.a99a7c {
    background-color: #a99a7c;
}
