@import "../../styles/break-points.scss";

.Tarefas {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .top {
        width: 100%;
    }

    .main {
        margin: auto;
        display: grid;
        width: 80%;

        label {
            margin: 3rem 0 0 1.5rem;
        }

        .labelOutras {
            margin-top: 1rem;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    @include tablet {
    }

    @include laptop {
    }

    @include desktop {
    }

    @include desktop-large {
    }
}
