@import "../../styles/break-points.scss";

.Tarefas {
    display: flex;
    flex-direction: column;
    width: 100vw;

    .top {
        width: 100%;
    }

    .main {
        margin: auto;
        display: grid;
        width: 80%;
        margin-bottom: 50px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        label {
            margin: 3rem 0 0 1.5rem;
            font-size: 1.1rem;
            font-weight: 500;
            color: #525252;
        }

        .cards {
            display: grid;
            grid-template-columns: 1fr;
        }

        .cardsFavoritos {
            display: grid;
            grid-template-columns: 1fr;
        }

        @include tablet {
            .cards {
                grid-template-columns: 1fr;
            }

            .cardsFavoritos {
                grid-template-columns: 1fr;
            }
        }

        @include laptop {
            .cards {
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2rem;
            }

            .cardsFavoritos {
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 2rem;
            }
        }

        @include desktop {
            .cards {
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 2rem;
            }

            .cardsFavoritos {
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 2rem;
            }
        }

        @include desktop-large {
            .cards {
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 2rem;
            }

            .cardsFavoritos {
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 2rem;
            }
        }
    }
}
