.nav {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.35);

    .logoNome {
        display: flex;
        align-items: center;
        margin: 0 1rem 0 0;

        .title {
            padding: 0;
            margin: 0;
            color: #6e787c;
            font-weight: 500;
            font-size: 1rem;
            margin: 0 0 0 0.825rem;
        }
    }
}
